.heading
{
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
    font-size: 23px;
}

.heading_div
{
    float: none;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
    box-shadow:5px 5px 5px grey;
}

.heading_div2
{
    font-size: 18px;
}

.result_para_tag
{
box-shadow: 5px 5px 5px grey;
font-size: 20px;
}

.copyright_footer_div
{
  position: fixed;
  color:black;
  background-color:cyan;   
  line-height: 3;
  text-align: left;
  width: 100%;
  bottom: 0px;
}

canvas
{
    border: 5px solid red;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}

